<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MP_app"
        tools:targetApi="31" >
        <activity
            android:name=".L2Act_v2"
            android:exported="false"
            android:label="@string/title_activity_l2_act_v2"
            android:theme="@style/Theme.MP_app.NoActionBar" />
        <activity
            android:name=".Fragment_1_Chat_v2"
            android:exported="false" />
        <activity
            android:name=".t"
            android:exported="false" />
        <activity
            android:name=".SignInAct"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".SignUpAct"
            android:exported="false" />
        <activity
            android:name=".L2_Main.L2Act"
            android:exported="false" />
        <activity
            android:name=".Tools.ViewPager.Fragment_1_Chat"
            android:exported="false"
            android:label="@string/title_activity_fragment_chat"
            android:theme="@style/Theme.MP_app.NoActionBar" />
        <activity
            android:name=".Tools.ViewPager.Fragment_0_CameraX"
            android:exported="false" />
        <activity
            android:name=".Tools.Deprecated.CameraXAct"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".L1_Intro.AuthAct" />
    </application>

</manifest>